@font-face {
	font-family: DelRom;
	src: url(Delicious-Roman.otf);

}
@font-face {
	font-family: GeoSans;
	src: url(GeosansLight.ttf);
}
body {
	 width:100%;
	 height:100%;
	 padding:0;
	 margin:0;
	 background-image: url("../images/wallpaw.png");
	 font-size: 24px;
}
html {
	 width:100%;
	 height:100%;
}
header {
	background-color: black;
	color:white;
	position:fixed;
	width: 100%;
	top:0;
}
.logo {
	float:left;
}
nav {
	float:right;
	padding-top: 1%;
	margin-right: 10px;
}
.nodec {
	list-style: none;
	display:inline;
	margin-left: 10px;
}
.nodecli {
	list-style: none;
	margin-left: 10px;
}
img#logo {
	height: 40px;
}
li.nodec a {
	text-decoration: none;
}
#rabimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}
#lionimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}
#dodoimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}
#rabexpimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}#pigimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}
#strayimg {
	border:5px solid black;
	height: 400px;
	margin: 0 auto;
	display: block;
}
.bcontent {
	padding-top: 11%;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #735d39;
	margin-bottom: 100px;
	padding-bottom: 10px;

}
.rcontent {
	padding-top: 15px;
	margin-top: 11%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #735d39;
	margin-bottom: 100px;
	padding-bottom: 10px;

}
.whatcont {
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.freedomcont{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}

.diffcont{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}
.vrights{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}

.container{
	text-align: justify;
	line-height: 30px;
}

.articletitle{
	text-align: center;
	font-size: 60px;
	font-family: GeoSans;
	line-height: 100px;

}
#emphasis{
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 50px;
	letter-spacing: 2px;
}

.articlebody{
	font-family: DelRom;
	line-height: 50px;
}


.AnimalExp{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}

.AnimalEnt{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.WLife{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.Industrial{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.CompAnim{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;	
}

.Worki{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}
footer {
	min-height: 500px;
	position: relative;
	margin: 0;
	bottom: 0;
}
footer.fcontent {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#DixOut{
	text-align: center;
	font-size: 60px;
	font-family:DelRom;
	letter-spacing:3px;
}

#Respect{
	text-align: center;

}

#Allrights{
	text-align: center;
}

.AR{
		align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}