@font-face {
	font-family: DelRom;
	src: url(Delicious-Roman.otf);

}
@font-face {
	font-family: GeoSans;
	src: url(GeosansLight.ttf);
}

html{
    height:100%;
}
body {
	 width:100%;
	 height:100%;
	 padding:0;
	 margin:0;
	 font-size: 24px;
}
.AnimalEnt .articletitle {
    background-image: url("wall7.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.WLife .articletitle {
    background-image: url("wall8.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.AnimalExp .articletitle{
    background-image: url("wall9.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;   
}

.CompAnim .articletitle{
    background-image: url("wall11.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;   
}

.Industrial .articletitle{
   background-image: url("wall10.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px; 
}
.whatcont .articletitle {
    background-image: url("wall.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.freedomcont .articletitle{
    background-image: url("wall2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.Worki .articletitle{
     background-image: url("wall12.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;   
}

.statcont .articletitle{
    background-image: url("wall13.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;    
}

.resources .articletitle{
    background-image: url("wall14.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;   
}

.diffcont .articletitle{
    background-image: url("wall3.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;  
}

.vrights .articletitle{
    background-image: url("wall4.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}


.rcontent{
    margin-left:20%;
    z-index:8;
}

.rcontent .articletitle{
    background-image: url("wall15.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;   
}

.acontent{
    margin-left:20%;
    z-index:8;
}

#rabimg {
    float:left;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: 50px;
    height:200px;
    border-radius:130px;
    box-shadow: 1px 0px 10px #202020;
}
#lionimg {
    margin-top:75px;
    margin-bottom: auto;
    float:right;
    margin-left:10px;
    margin-right: 50px;
    height:200px;
    border-radius:20px;
    box-shadow: 1px 0px 10px #202020;
}
#dodoimg {
    margin-top:45px;
    margin-bottom: auto;
    float:left;
    margin-left: 50px;
    margin-right: 40px;
    padding-left:10px;
    height:200px;
    border-radius:20px;
    box-shadow: 1px 0px 10px #202020;
}
.articletitle{
    font-family: GeoSans;
    font-size: 80px;
    letter-spacing: 10px;
}


#rabexpimg{
    margin-top:60px;
    margin-bottom: auto;
    float:right;
    margin-left: 50px;
    margin-right: 40px;
    height:200px;
    border-radius:20px;
    box-shadow: 1px 0px 10px #202020;
}

#pigimg{
    margin-top:60px;
    margin-bottom: auto;
    float:left;
    margin-left: 50px;
    margin-right: 40px;
    height:200px;
    border-radius:20px;
    box-shadow: 1px 0px 10px #202020;
}

#strayimg{
    margin-top:60px;
    margin-bottom: auto;
    float:right;
    margin-left: 50px;
    margin-right: 40px;
    height:200px;
    border-radius:20px;
    box-shadow: 1px 0px 10px #202020;
}
